Repository jszymanowski/breeze: changes, and which Codecov flags are due for each by the changed paths.
All: react, forms

codecov.yml:

coverage:
  status:
    project:
      default: false  # disable the default project status
      react:
        flags: 
          - react
        paths: 
          - packages/react/
      forms:
        flags: 
          - forms
        paths: 
          - packages/forms/

flags:
  react:
    paths:
      - packages/react/
  forms:
    paths:
      - packages/forms/

Don't fail CI
  .github/workflows/ci-test-coverage.yml
Due: none

Reduce unnecessary test suite runs
  .github/workflows/ci-test-suite.yml
Due: none

Configure Chromatic
  .github/workflows/chromatic.yml
Due: none

Format
  .vscode/settings.json
  codecov.yml
Due: none

chore: Configure Codecov & Chromatic for Forms package (#180)
  .github/workflows/chromatic.yml
  .github/workflows/ci-test-coverage.yml
  .github/workflows/ci-test-suite.yml
  .vscode/settings.json
  codecov.yml
  packages/forms/.force-ci
  packages/forms/README.md
  packages/react/.force-ci
Due: react, forms

Feedback
  packages/forms/lib/Button/Button.tsx
  packages/forms/lib/Button/DeleteButton.tsx
  packages/forms/lib/Button/SaveButton.tsx
  packages/forms/lib/types.ts
  packages/forms/stories/DeleteButton.stories.tsx
  packages/forms/stories/SaveButton.stories.tsx
Due: forms

feat: Add buttons (#179)
  packages/forms/components/ui/button.tsx
  packages/forms/lib/Button/Button.tsx
  packages/forms/lib/Button/DeleteButton.tsx
  packages/forms/lib/Button/SaveButton.tsx
  packages/forms/lib/Button/index.ts
  packages/forms/lib/Label/Label.tsx
  packages/forms/lib/Textarea/Textarea.tsx
  packages/forms/lib/main.ts
  packages/forms/package.json
  packages/forms/stories/Button.stories.tsx
  packages/forms/stories/DeleteButton.stories.tsx
  packages/forms/stories/SaveButton.stories.tsx
  packages/forms/tests/Button.test.tsx
  pnpm-lock.yaml
Due: forms

chore: Fix Chromatic working dir for forms
  .github/workflows/chromatic.yml
Due: none

Export ButtonGroup
  packages/forms/lib/Button/Button.tsx
  packages/forms/lib/Button/ButtonGroup.tsx
  packages/forms/lib/Button/index.ts
  packages/forms/lib/main.ts
  packages/forms/stories/ButtonGroup.stories.tsx
Due: forms

Lint
  packages/forms/lib/Button/ButtonGroup.tsx
  packages/forms/lib/Button/index.ts
  packages/forms/lib/main.ts
Due: forms

More stories
  packages/forms/lib/Button/ButtonGroup.tsx
  packages/forms/stories/ButtonGroup.stories.tsx
Due: forms

fix: Export ButtonGroup (#182)
  packages/forms/lib/Button/Button.tsx
  packages/forms/lib/Button/ButtonGroup.tsx
  packages/forms/lib/Button/index.ts
  packages/forms/lib/main.ts
  packages/forms/stories/ButtonGroup.stories.tsx
Due: forms

Use dark accent colors by default in Text; add asForeground to get lighter
  packages/react/lib/Text/Text.tsx
  packages/react/stories/Text.stories.tsx
  packages/react/stories/templates/Code.tsx
Due: react

Tests
  packages/react/docs/ROADMAP.md
  packages/react/stories/Text.stories.tsx
  packages/react/tests/Text.test.tsx
Due: react

...Heading
  packages/react/lib/Heading/Heading.tsx
  packages/react/stories/Heading.stories.tsx
  packages/react/tests/Heading.test.tsx
  packages/react/tests/Text.test.tsx
Due: react

Remove Code diff
  packages/react/stories/templates/Code.tsx
Due: react

Fix default Flex story
  packages/react/stories/Flex.stories.tsx
Due: react

Feedback
  packages/react/lib/Heading/Heading.tsx
  packages/react/lib/Text/Text.tsx
Due: react

Fix build
  packages/react/stories/Flex.stories.tsx
Due: react

feat: Use rich (dark) colors for typography variants, by default (#185)
  packages/react/docs/ROADMAP.md
  packages/react/lib/Heading/Heading.tsx
  packages/react/lib/Text/Text.tsx
  packages/react/stories/Flex.stories.tsx
  packages/react/stories/Heading.stories.tsx
  packages/react/stories/Text.stories.tsx
  packages/react/tests/Heading.test.tsx
  packages/react/tests/Text.test.tsx
Due: react

Fix codecov
  codecov.yml
Due: none

Fix workflow
  breeze.code-workspace
Due: none

Fix package.json
  packages/primitives/package.json
Due: none

fix: Update package.json to reflect new package name (#190)
  packages/primitives/package.json
Due: none

Update to breeze-primitives package
  packages/forms/lib/Button/Button.tsx
  packages/forms/lib/Button/ButtonGroup.tsx
  packages/forms/lib/TextInput/TextInput.tsx
  packages/forms/lib/Textarea/Textarea.tsx
  packages/forms/package.json
  packages/forms/src/index.css
  packages/forms/stories/Label.stories.tsx
  packages/primitives/.storybook/preview.tsx
  packages/primitives/README.md
  packages/primitives/src/context/ThemeProvider.tsx
  pnpm-lock.yaml
Due: forms

feat(forms): Update to breeze-primitives package (#191)
  packages/forms/lib/Button/Button.tsx
  packages/forms/lib/Button/ButtonGroup.tsx
  packages/forms/lib/TextInput/TextInput.tsx
  packages/forms/lib/Textarea/Textarea.tsx
  packages/forms/package.json
  packages/forms/src/index.css
  packages/forms/stories/Label.stories.tsx
  packages/primitives/.storybook/preview.tsx
  packages/primitives/README.md
  packages/primitives/src/context/ThemeProvider.tsx
  pnpm-lock.yaml
Due: forms

Bump renovate-config to 0.8.0
  renovate.json
Due: none

chore: Update renovate-config to 0.9.0
  renovate.json
Due: none

Support adding classNames to ButtonGroup.Button
  packages/forms/lib/Button/ButtonGroup.tsx
Due: forms

Lint
  packages/forms/lib/Button/ButtonGroup.tsx
Due: forms

feat: Support adding classNames to ButtonGroup.Button (#201)
  packages/forms/lib/Button/ButtonGroup.tsx
Due: forms

chore: Update renovate-config to 0.10.0
  renovate.json
Due: none

Lint
  packages/forms/.storybook/main.ts
  packages/forms/components/ui/button.tsx
  packages/forms/lib/Button/Button.tsx
  packages/forms/lib/Button/ButtonGroup.tsx
  packages/forms/src/context/ThemeProvider.tsx
  packages/forms/src/index.css
  packages/primitives/.storybook/main.ts
  packages/primitives/lib/Box/Box.tsx
  packages/primitives/lib/Flex/Flex.tsx
  packages/primitives/lib/types/elements.ts
  packages/primitives/lib/types/layout.ts
  packages/primitives/src/components/Card.tsx
  packages/primitives/src/context/ThemeProvider.tsx
  packages/primitives/src/index.css
  packages/primitives/stories/Box.stories.tsx
  packages/primitives/stories/Flex.stories.tsx
  packages/primitives/stories/Grid.stories.tsx
  packages/primitives/stories/Heading.stories.tsx
  packages/primitives/stories/Text.stories.tsx
  packages/primitives/stories/composition/Layout.stories.tsx
  packages/primitives/stories/composition/Typography.stories.tsx
  packages/primitives/stories/templates/Code.tsx
  packages/primitives/stories/templates/OptionsByFamilyGrid.tsx
  packages/primitives/tests/Flex.test.tsx
  packages/primitives/tests/Heading.test.tsx
  packages/primitives/tests/Text.test.tsx
Due: forms

Use patch version instead
  .release-please-manifest.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
Due: none

Fix changelog
  packages/primitives/CHANGELOG.md
Due: none

Don't run Chromatic on Renovate PRs
  .github/workflows/chromatic.yml
Due: none

properly
  .github/workflows/chromatic.yml
Due: none

Skip if packages not changed
  .github/workflows/chromatic.yml
Due: none
